
body {
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', sans-serif;
  background: #f8f9fa;
  line-height: 1.6;
}

header {
  background: #110585;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  color: #fff;
}

header h1 {
  margin: 0;
  font-size: 1.8em;
}

nav a {
  margin-left: 20px;
  color: #f1f1f1;
  text-decoration: none;
  font-weight: 500;
  position: relative;
}

nav a::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
  height: 2px;
  background: #110585;
  transition: width 0.3s;
}

nav a:hover::after {
  width: 100%;
}

/* Sections */
.intro, section {
  padding: 20px 20px;
  max-width: 1600px;
  margin: auto;
}

.intro p {
  font-size: 0.9em;
}

h2 {
  color: #110585;
  font-size: 1.8em;
  margin-bottom: 20px;
}


h3 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
  color: #110585;
}

.card {
  background: #ffffff;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
  border-left: 6px solid #110585;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.card p strong {
  /*font-size: 1.2em;*/
  color: #110585;
}

.LF {
  font-size: 0.7em;
}

.card ul.hidden {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.4s ease;
  font-size: 0.7em;
  color: #ac0379;
  margin-top: 10px;
}

.card:hover ul.hidden {
  max-height: 1000px;
  opacity: 1;
}

.card ul {
  padding-left: 20px;
  margin-top: 10px;
}

.card li {
  margin-bottom: 6px;
}

/* Contact section */
#contact p {
  font-size: 1.1em;
}

/* Footer */
footer {
  background: #1c2c3b;
  text-align: center;
  padding: 15px;
  color: #dce3ea;
  margin-top: 60px;
}